.contact {
  display: flex;
  gap: 16px;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  color: $base-extra-dark;

  &:hover {
    color: $base-accent;
  }

  &--accent {
    color: $base-accent;
  }

  &--accent:hover {
    color: $hover-accent;
  }

  @media (max-width: $tablet-size - 1) {
    justify-content: center;
  }

  @media (min-width: $tablet-size) and (max-width: $desktop-size - 1) {
    justify-content: flex-start;
  }

  @media (min-width: $desktop-size) {
    justify-content: flex-start;
  }
}

.contact__icon {
  display: block;
}

.contact__text {
  display: block;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}
