.header {
  display: grid;


  @media (max-width: $desktop-size - 1) {
    grid-template-columns: 1fr auto;
    min-height: 50px;
  }

  @media (min-width: $desktop-size) {
    grid-template-columns: auto 1fr auto;
    max-width: 1170 + 2 * $mobile-padding;
    padding-left: $mobile-padding;
    padding-right: $mobile-padding;
    margin: 0 auto;
    min-height: 100px;
    grid-column-gap: 42px;
  }
}

.header__logo {
  justify-self: start;
  align-self: center;
}

.header__menu {
  @media (max-width: $desktop-size - 1) {
    grid-column: span 2;
    position: relative;
  }

  @media (min-width: $desktop-size) {
    align-self: center;
  }
}


.header__toggle {
  @media (max-width: $desktop-size - 1) {
    justify-self: end;
  }

  @media (min-width: $desktop-size) {
    display: none;
  }
}

.header__contact {
  @media (max-width: $desktop-size - 1) {
    display: none;
  }

  @media (min-width: $desktop-size) {
    align-self: center;
  }
}
