.logo {
  display: block;

  @media (max-width: $tablet-size - 1) {
    padding-left: $mobile-padding;
    padding-right: $mobile-padding;
  }

  @media (min-width: $tablet-size) and (max-width: $desktop-size - 1) {
    padding-left: $tablet-padding;
    padding-right: $tablet-padding;
  }
}

.logo__image {
  display: block;

  @media (max-width: $desktop-size - 1) {
    width: 44px;
    height: 18px;
  }

  @media (min-width: $desktop-size) {
    width: 58px;
    height: 22px;
  }
}
