// Breakpoints
$mobile-size: 320px;
$tablet-size: 768px;
$desktop-size: 1024px;

// Отступы от края страницы
$mobile-padding: 16px;
$tablet-padding: 21px;
$desktop-padding: 32px;

// Colors
$base-accent: #fe7865;
$hover-accent:  #f17d4b;
$base-light: #fbf8f8;

$base-low-dark: #48494d;
$base-medium-dark: #2c2e3f;
$base-extra-dark: #141517;

$transparent-gray: rgba(20, 21, 23, 0.5);
